<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Shopping List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <style>
  .removed .checkbox label {
    text-decoration: line-through;
  }
  </style>
</head>

<body>
  <div class="container" id="app">
    <h1>My Shopping List</h1>

    <ul>
      <li v-for="item in items" v-bind:class="{removed: item.checked}">
        <div class="checkbox">
          <label>
            <input type="checkbox" v-model="item.checked">
            {{ item.text }}
          </label>
        </div>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue"></script>

  <script>
  const data = {
    items: [
      {text: 'Bananas', checked: true},
      {text: 'Apples', checked: false},
    ]};
  var app = new Vue({
    el: '#app',
    data
  });
  </script>

</body>

</html>